@import url("W3C-REC.css");

@namespace url("http://www.w3.org/1999/xhtml");
@namespace m "http://www.w3.org/1998/Math/MathML";

@font-face {
    font-family: STIX Two Text;
    src: local('STIXTwoText'),
         url('STIX2Text-Regular.woff2'),
         url('STIX2Text-Regular.woff');
}
@font-face {
    font-family: STIX Two Text;
    src: local('STIXTwoText-Bold'),
         url('STIX2Text-Bold.woff2'),
         url('STIX2Text-Bold.woff');
    font-weight: bold;
}
@font-face {
    font-family: STIX Two Text;
    src: local('STIXTwoText-Italic'),
         url('STIX2Text-Italic.woff2'),
         url('STIX2Text-Italic.woff');
    font-style: italic;
}
@font-face {
    font-family: STIX Two Text;
    src: local('STIXTwoText-BoldItalic'),
         url('STIXTwoText-BoldItalic.woff2'),
         url('STIXTwoText-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: STIX Two Math;
    src: local('STIX Two Math'),
         local('STIXTwoMath'),
         url('webfonts/STIX2Math.woff2'),
         url('webfonts/STIX2Math.woff');
}

body, m|mtext, .ltx_td {
  font-family: STIX Two Text;
}
m|math {
  font-family: STIX Two Math;
}

body {
    background-image: none;
}

header.ltx_page_header > div > a[rel="prev"],
header.ltx_page_header > div > a[rel="next"],
footer.ltx_page_footer > div > a[rel="bibliography"],
div.ltx_page_logo {
    display: none;
}

header.ltx_page_header > div > a[rel="up"] {
    color: #005A9C;
    font: 200% sans-serif;
    text-decoration: none;
}

header.ltx_page_header {
    border-bottom: none;
}

footer.ltx_page_footer {
    border-top: none;
}

blockquote {
    background: #efe;
    border: 1px solid blue;
    padding: .5em;
}
.MATH {
    background: #eef;
}
.ltx_listingblock {
    color: blue;
}
.ltx_td {
    white-space: normal !important;
}

/** Open issue ****************************************************************/
.issue {
    border: solid #E05252;
    border-width: 0.5em;
    border-style: none none none solid;
    background: #FBE9E9;
    overflow: auto;
    padding: 0.5em;
}
.issue::before {
    content: "ISSUE";
    padding-right: 1em;
    color: #AE1E1E;
}
