@namespace url(http://www.w3.org/1998/Math/MathML);
/* The &lt;math&gt; element */
math {
  direction: ltr;
  display: inline;
  font-size: inherit;
  font-style: normal;
  font-family: serif;
  mathml-math-style: inline;
}
math[display="block"] {
  display: block;
  text-align: center;
  mathml-math-style: display;
}
math[display="inline"] {
  display: inline;
  mathml-math-style: inline;
}
math[displaystyle="false"] {
  mathml-math-style: inline;
}
math[displaystyle="true"] {
  mathml-math-style: display;
}
/* Links */
:any-link {
    color: blue;
    text-decoration: none;
}
/* Tabular elements */
mtable {
  display: inline-table;
  mathml-math-style: inline;
}
mtable[displaystyle="true"] {
  mathml-math-style: display;
}
mtable[frame="none"] {
  border: none;
}
mtable[frame="solid"] {
  border: solid thin;
}
mtable[frame="dashed"] {
  border: dashed thin;
}
mtr, mlabeledtr {
  display: table-row;
  vertical-align: baseline;
}
mlabeledtr > mtd:first-child {
  display: none;
}
mtd {
  display: table-cell;
  vertical-align: inherit;
  text-align: center;
  padding: 0.5ex 0.4em;
}
/* The &lt;ms&gt; element */
ms {
  display: inline;
}
ms:before, ms:after {
  content: "\0022"
}
ms[lquote]:before {
  content: attr(lquote)
}
ms[rquote]:after {
  content: attr(rquote)
}
/*  The &lt;merror&gt; element */
merror {
 outline: solid thin red;
 background-color: lightYellow;
}
/* The &lt;mphantom&gt; element */
mphantom {
  visibility: hidden;
}
/* Scriptlevel and displaystyle for other elements */
mstyle[displaystyle="false"] {
  mathml-math-style: inline;
}
mstyle[displaystyle="true"] {
  mathml-math-style: display;
}
mfrac > * {
  mathml-script-level: auto;
  mathml-math-style: inline;
}
mroot > :not(:first-child) {
  mathml-script-level: increment-by 2;
  mathml-math-style: inline;
}
msub > :not(:first-child),
msup > :not(:first-child),
msubsup > :not(:first-child),
mmultiscripts > :not(:first-child) {
  mathml-script-level: increment-by 1;
  mathml-math-style: inline;
}
munder > :not(:first-child),
mover > :not(:first-child),
munderover > :not(:first-child) {
  mathml-math-style: inline;
}
/* maction */
maction > :not(:first-child) {
  display: none;
}
/* automatic italic */
mi {
  text-transform: math-auto;
}
