math {
  direction: ltr;
  display: inline;
  font-size: inherit;
  font-style: normal;
  font-family: math;
  math-style: inline;
  math-script-level: initial;
}
math[display="block" i] {
  display: block;
  text-align: center;
  math-style: display;
}
math[display="inline" i] {
  display: inline;
  math-style: inline;
}
