math {
  direction: ltr;
  display: inline;
  font-size: inherit;
  font-style: normal;
  font-family: serif;
  math-style: inline;
  math-script-level: initial;
}
math[display="block"] {
  display: block;
  text-align: center;
  math-style: display;
}
math[display="inline"] {
  display: inline;
  math-style: inline;
}
math[displaystyle="false"] {
  math-style: inline;
}
math[displaystyle="true"] {
  math-style: display;
}
