*[displaystyle="false" i] {
  math-style: inline;
}
*[displaystyle="true" i] {
  math-style: display;
}
msub > :not(:first-child),
msup > :not(:first-child),
msubsup > :not(:first-child),
mmultiscripts > :not(:first-child),
munder > :not(:first-child),
mover > :not(:first-child),
munderover > :not(:first-child) {
  math-script-level: add(1);
  math-style: inline;
}
