mstyle[displaystyle="false"] {
  mathml-math-style: inline;
}
mstyle[displaystyle="true"] {
  mathml-math-style: display;
}
mfrac > * {
  mathml-script-level: auto;
  mathml-math-style: inline;
}
mroot > :not(:first-child) {
  mathml-script-level: increment-by 2;
  mathml-math-style: inline;
}
msub > :not(:first-child),
msup > :not(:first-child),
msubsup > :not(:first-child),
mmultiscripts > :not(:first-child) {
  mathml-script-level: increment-by 1;
  mathml-math-style: inline;
}
munder > :not(:first-child),
mover > :not(:first-child),
munderover > :not(:first-child) {
  mathml-math-style: inline;
}
