mstyle[displaystyle="false"] {
  math-style: inline;
}
mstyle[displaystyle="true"] {
  math-style: display;
}
mfrac > * {
  math-script-level: auto;
  math-style: inline;
}
mroot > :not(:first-child) {
  math-script-level: add(2);
  math-style: inline;
}
msub > :not(:first-child),
msup > :not(:first-child),
msubsup > :not(:first-child),
mmultiscripts > :not(:first-child),
munder > :not(:first-child),
mover > :not(:first-child),
munderover > :not(:first-child) {
  math-script-level: add(1);
  math-style: inline;
}
